{% set menus = 
[
  {name : 'Accueil', path : path('home')},
  {name : 'Mécanique', path : path('mecanique')}, 
  {name : 'Carrosserie', path : path('carrosserie')}, 
  {name : 'Occasions', path : path('occasions')}
]
%}

<header>
	<img class="logo" src="{{ asset('assets/images/Header/Logo.png') }}" alt="Logo de la société">
	<nav>
		<div class="nav-links">
			{% for menu in menus %}
				<a class="link" href="{{ menu.path }}">{{ menu.name }}</a>
			{% endfor %}
		</div>
	</nav>
	<div class="button-container">
		<img class="button-connection" src="{{ asset('assets/images/Header/icone-connection.png') }}" alt="Icone de connection">
		<div class="burger">
			<span></span>
		</div>
	</div>
</header>
