{% set menus = ["Accueil", "Mécanique", "Carrosserie", "Occasion"] %}
<header>
	<img class="logo" src="{{ asset('assets/images/Header/Logo.png') }}" alt="Logo de la société">
	<nav>
		<ul class="nav-links">
			{% for menu in menus %}
				<li>
					<a>{{ menu }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
		<div class="button-container">
			<img class="button-connection" src="{{ asset('assets/images/Header/icone-connection.png') }}" alt="Icone de connection">
			<div class="burger">
				<span></span>
			</div>
		</div>
</header>
