
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/Horaire/style.css') }}">
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}


	<ul class="horaire">
			{% for horaire in horaires %}
				<li>
					{{horaire.jours }}:
					{{horaire.heures }}
				</li>
			{% endfor %}
	</ul>
{% endblock %}
