
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/Horaire/style.css') }}">
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}


	<ul class="horaire">
		{# {% for horaire in horaires %} #}
				<li>
					Lundi : 08:45 - 12h00 / 14h00 - 18h00<br>
					Mardi : 08:45 - 12h00 / 14h00 - 18h00<br>
					Mercredi : 08:45 - 12h00 / 14h00 - 18h00<br>
					Jeudi : 08:45 - 12h00 / 14h00 - 18h00<br>
					Vendredi : 08:45 - 12h00 / 14h00 - 18h00<br>
					Samedi : 08:45 - 12h00<br>
					Dimanche : Fermé
				</li>
{# {% endfor %} #}
	</ul>
{% endblock %}
