{% block prestations %}
	<div class="prestations-container">
		{% for prestation in prestations %}
			<div class="prestation">
				{{ prestation.prestations}}
			</div>
		{% endfor %}
	</div>
{% endblock %}