{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }} 
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="prestations-container">
		{% for prestation in prestations %}
			<div class="prestation">
				{{prestation.prestation }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
