<form method="post" action="{{ path('app_card_cars_delete', {'id': card_car.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce véhicule');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card_car.id) }}">
    <button class="btn btn-outline-danger" style="border-top-left-radius: 0; border-bottom-left-radius: 0">Supprimer</button>
</form>
