<form method="post" action="{{ path('app_card_cars_delete', {'id': card_car.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce véhicule');" class="btn btn-outline-danger d-none d-lg-block">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card_car.id) }}">
	<button style="border: 0; background-color: transparent; color: inherit;">Supprimer</button>
</form>
